[submodule "loadbalancer/edge-packet-allocator"]
	path = loadbalancer/edge-packet-allocator
  url = https://github.com/B3LIOTT/edge-packet-allocator
  branch = without-cplex
[submodule "masterNode/masterNode"]
	path = masterNode/masterNode
	url = https://github.com/maximezim/masterNode
	branch = interconnect
[submodule "workerNode/workerNode"]
	path = workerNode/workerNode
	url = https://github.com/maximezim/workerNode
[submodule "frontend/streamfront"]
	path = frontend/streamfront
	url = https://github.com/maximezim/streamfront
[submodule "api/web-api"]
	path = api/web-api
	url = https://github.com/Miunn/mqtt-streaming-web-api
