[submodule "loadbalancer/edge-packet-allocator"]
	path = loadbalancer/edge-packet-allocator
	url = https://github.com/B3LIOTT/edge-packet-allocator
[submodule "masterNode/masterNode"]
	path = masterNode/masterNode
	url = https://github.com/maximezim/masterNode
